*{
    margin:0;
    padding:0;
    background:#cfb69d;
}
body{
    width:70%;
    height: 70%;
    margin:4% 0 0 22%;
}
.black{
    float: left;
    width: 12.5%;
    height:13%;
    background-color: #ab6d03;
}
.white{
    float: left;
    width: 12.5%;
    height: 13%;
    background-color: #f7d79e;
}
.clear{
    clear:both;
}
.chessboard{
   /* padding:30px 30px;*/
    margin:2px 0 0 100px;
    border:20px solid #69480f;
    width:50%;
}