*{
    margin:0;
    padding:0;
}
.black{
    float: left;
    width: 12.5%;
    height:13%;
    background-color: #ab6d03;
}
.white{
    float: left;
    width: 12.5%;
    height: 13%;
    background-color: #f7d79e;
}
.clear{
    clear:both;
}
.chessboard{
   /* padding:30px 30px;*/
    margin-left:100px;
    margin-top:2px;
    border:20px solid #69480f;
    width:50%;
}